<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
        <title>Blog</title>
</head>
<body>
    <%- include("./partials/navbar") %>
    <div class="container mt-4">
        <h1> <%= blog.title %></h1>
        <img src="<%= blog.coverImageURL %>" width="600px "/>
        <pre class="mt-3"> <%= blog.body %></pre>
    </div>
    <div class="container mt-4">
        <img src="<%= blog.createdBy.profileImgURL %>" width="50px"/>
        <%= blog.createdBy.fullName %>
    </div>
    <div class="container mt-3">
        <h1>Comments (<%= comment.length %>) </h1>
        <% if (locals.user) { %>
            <form action="/blog/comment/<%= blog._id %>" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" name="content" placeholder="Enter Comment"/>
                    <button class="btn btn-sm btn-primary mt-2" type="submit">Add</button>
                </div>
            </form>
            
        <% } %>
        <div class="mt-3">
            <% comment.forEach(comment => { %>
                <div>
                    <img src="<%= comment.createdBy.profileImgURL %>" width="50px"/>
    <%= comment.createdBy.fullName %>
    <pre><%= comment.content %></pre>
                </div>
            <% }) %>
        </div>
    </div>
    <%- include("./partials/script") %>
</body>
</html>